// import icon
@import "~@mr-hope/vuepress-shared/styles/font-awesome";

.katex-block ::-webkit-scrollbar
  display none


.home .hero h1
  font-size 3.5rem !important

.home .hero .description
  font-size 2rem !important

.hero-info
  margin 0 2rem

body
  font-size 20px !important
